*{
    margin:0vw 0.2vw;
    padding:0;
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
    font-size:1vw;
    outline:none;
}

body{

  background-color:#fff;

}

/* Main Page */

.main-page{

  width:100%;
  height:100vh;
  display:none;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr min-content; 

}

 /* left sidebar */

.left{

   grid-column:1/2;
   grid-row:1/2;
   background-color: #2b9be1;
   display:flex;
   justify-content: center;
   align-items: center;

}

.left-content div{

  display:flex;
  align-items:center;
  margin:4rem;
  color:#fff;
  font-weight:bolder;

}

.left-content i{

    font-size:2.2rem;
    margin-right:2rem;

}

.left-content-heading{

    font-size:1.4rem;

}


/* right sidebar */

.right{
    grid-column: 2/-1;
    grid-row: 1/2;
    position: relative;
}

.right-content-form{
    display:flex;
    justify-content: center;
    margin-top:3rem;
}

.right-content-form div{
    position: relative;
}

.right-content-form input{

   width:10rem;
   height:2.5rem;
   margin-right:1rem;
   font-size:1.6rem;
   padding:0 1rem;
   border:0.1rem solid #1aa1f5;
   border-radius: 10rem;
   background-color: #fff;
   transition:background-color 1s;

}

.right-content-form input:focus{
    background-color: #9ecdeb;
}

.right-content-form label{
    position: absolute;
    top:5.5rem;
    left:0;
    font-size: 1.2rem;
    font-weight:300;
    color:#a7a6a5;
}

.btn-top{

   width:8rem;
   background-color: #fff;
   color:#1aa1f5;
   border:0.1rem solid #1aa1f5;
   border-radius:3rem;
   font-size:1.4rem;
   font-weight:bold;
   cursor:pointer;
   transition:background-color 0.5s;

}

.btn-top:hover{

   background-color:#d9ebf7;

}

.middle-content{

   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   display: flex;
   flex-direction: column;
   width:40%;
   margin-top:4rem;

}

.middle-content i{

   font-size:3.2rem;
   color:#1aa1f5;
   margin-bottom:2rem;

}

.middle-content h1{

  font-size:1.2rem;
  margin-bottom: 4rem;

}

.middle-content h4{

  font-size:1.2rem;
  margin-bottom: 2rem;
  text-align: center;

}

.middle-content button{

  margin:0.6rem 0;
  padding:0.3rem;
  border:0.1rem solid #1aa1f5;
  border-radius: 10rem;
  /* color:#1aa1f5; */
  font-size:1.6rem;
  cursor:pointer;
  transition:background-color 1.2s;

}

.sign-up{

  background-color:#1aa1f5;
  color:#fff;

}

.sign-up:hover{

  background-color: #0f5d8d;

}

.log-in{

  background-color:#fff;

}

.log-in:hover{

  background-color: #d9ebf7;

}


/* Footer Section */

.main-page-footer{

   grid-column: 1/-1;
   grid-row: 2/-1;
   background-color: #f5f4f4;
   padding:1.5rem;
   border-top:0.1rem solid #ddd;

}

.main-page-footer ul{

  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;

}

.main-page-footer a{

   font-size:1.2rem;
   text-decoration: none;
   color:#444;
   font-weight:bold;

}


.login-page{

  width:100%;
  height:100vh;
  display:none;
  grid-template-columns:minmax(5rem,1fr) 2fr minmax(5rem,1fr);
  grid-template-rows:repeat(2,min-content) 1fr;
  grid-row-gap:1.5rem;

}

.login-page-nav{

  grid-column:1/-1;
  grid-row:1/2;
  background-color: #fff;
  padding:2.5rem 0;
  box-shadow:0 0 0.7rem rgba(0,0,0,0.3);

}

.login-page-nav ul{

  width:100rem;
  margin:auto;
  display:flex;
  align-items: flex-end;
  list-style:none;

}

.login-page-nav li{

   margin:0rem 1rem;
   position: relative;

}

.login-page-nav li:last-child{

  margin:0rem 30rem;

}

.login-page-nav li::after{

  content:"";
  width:100%;
  height:0.4rem;
  background-color: #1aa1f5;
  position:absolute;
  bottom:-2.5rem;
  left:0;
  opacity:0;
  transition:opacity 0.8s;

}

.login-page-nav li:hover::after{

  opacity: 1;
}

.login-page-nav a{

  font-size:1.4rem;
  text-decoration:none;
  color:#1aa1f5;
  transition:color 0.5s;

}

.login-page-nav li a:hover{

  color:#0f5d8d;

}

.login-page-nav i{

   font-size: 1.5rem;

}

.login{

  grid-column:2/3;
  grid-row:2/3;
  background-color: #fff;
  width:72rem;
  display: grid;
  grid-template-columns: 10rem 8fr;
  grid-template-rows: 2fr 1fr;
  box-shadow: 0 0 0.7rem rgba(0,0,0,0.3);
  /* border:0.2rem  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login-content{

  grid-column:2/-1;
  grid-row:1/2;
  padding:5rem 0 1rem 0;

}

.login-content h2{

  font-size:2rem;
  margin-bottom: 3rem;
  margin-left:6rem;
  color:#1aa1f5;
  font-weight: bolder;

}

.login-form{

  display:flex;
  flex-direction: column;

}

.login-form input:not(.login-form-checkbox){

  width:30rem;
  height:3.5rem;
  margin-bottom: 1rem;
  border:0.2rem solid #1aa1f5;
  border-radius: 5rem;
  padding-left: 1rem;
  font-size:1.2rem;
  text-align: center;
  transition:background-color 0.5s;

}

.login-form input:focus{

  background-color:#d9ebf7;

}

.login-form div{

  margin-top:2rem;

}

.login-form button{

  padding:1rem 1.5rem;
  background-color: #1aa1f5;
  color:#fff;
  border: 0.2rem solid #fff;
  border-radius: 3rem;
  cursor: pointer;
  font-size:1.2rem;
  margin-right:1rem;
  font-weight: bold;

}

.login-form label{

  font-size:1.2rem;
  font-weight: 300;
  margin-right: 1rem;

}

.login-form a{
  text-decoration: none;
  font-size:1.2rem;
  color:#1aa1f5;
}

.login-footer{

  grid-column:1/-1;
  grid-row:2/-1;
  background-color: #edf3f7;
  /* padding-left:10rem; */
  padding-top: 1rem;
  width:65vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-top: 2rem;

}

.login-footer p{

   font-size: 1.2rem;
   font-weight:bold;
   margin:0.3rem 0rem;

}

.login-footer a{

  text-decoration: none;
  color: #1aa1f5;

}


/* News Feed Page */

.feeds-page{

  width:100%;
  height:100vh;

}

.feeds-nav{

   position: fixed;
   width:100%;
   height:6.5rem;
   background-color:#fff;
   display:flex;
   justify-content:center;
   box-shadow:0 0 0.7rem rgba(0,0,0,0.3);

}

.icons{

  display:flex;
  align-items: center;

}

.icons a{

  text-decoration: none;
  margin-right:7rem;
  font-size:3.5rem;
  color:#1aa1f5;

}